{{define  "Edit"}}
{{template "_head"}}
{{template "_nav"}}
    <div class="container">
        <body>
            <div class="jumbotron jumbotron-fluid" style="height: 9.375rem; display: flex; align-items: center;">
                <div class="container">
                    <h1 class="display-5">Edit product</h1>
                    <p class="lead">Enter the details to update</p>
                </div>
            </div>
            <form method="POST" action="update">
              <input type="hidden" name="id" value="{{.Id}}">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" name="name" class="form-control" value="{{.Name}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <input type="text" name="description" class="form-control" value="{{.Description}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="price">Price:</label>
                            <input type="number" name="price" class="form-control" step="0.01" value="{{.Price}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="amount">Amount:</label>
                            <input type="number" name="amount" class="form-control" value="{{.Amount}}">
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 1.875rem;"> 
                  <button type="submit" value="save" class="btn btn-success" style="width: 9.375rem;">Update</button>
                  <a class="btn btn-info" href="/" style="width: 9.375rem;">Back</a>
                </div>                
            </form>
        </body>
    </div>
</html>
{{end}}